 h2{
    color: red;
font-size: 3rem; 
}


.boxContador{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 70vh;
}

button{
    border-radius: 25px;

}

.boxButton{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}